// Font Family
default-font-family = -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;

// Font Sizes
/*
 * 1.1^ 6 = 1.77    extra-large
 * 1.1^ 5 = 1.61
 * 1.1^ 4 = 1.46
 * 1.1^ 3 = 1.33    large
 * 1.1^ 2 = 1.21
 * 1.1^ 1 = 1.10
 * 1.1^ 0 = 1.00    base
 * 1.1^-1 = 0.90
 * 1.1^-2 = 0.83
 * 1.1^-3 = 0.75    small
 * 1.1^-4 = 0.68
 * 1.1^-5 = 0.62
 * 1.1^-6 = 0.56    extra-small
 */
base-font-size = 1rem
extra-large-font-size = base-font-size * 1.77
large-font-size       = base-font-size * 1.33
small-font-size       = base-font-size * 0.75
extra-small-font-size = base-font-size * 0.56

// Line height
base-line-height = 1.5
heading-line-height = 1.2

// Other Sizes
base-border-radius = 3px
base-spacing = base-line-height * 1em
large-spacing = base-spacing * 3
small-spacing = base-spacing / 3
base-z-index = 0

// Colors
light-gray  = #eeeeee
white       = #ffffff
theme-color = #0094aa
default-font-color = rgba(0, 0, 0, 0.87)
